<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799123089802-mropis8rbq5dq7o5b6dj82s6gvhepu5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799123089802-mropis8rbq5dq7o5b6dj82s6gvhepu5d</string>
	<key>API_KEY</key>
	<string>AIzaSyDjE6pToOq976hN7mcysjmpH0ENRGKrp34</string>
	<key>GCM_SENDER_ID</key>
	<string>799123089802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evaluate.track.alandalos</string>
	<key>PROJECT_ID</key>
	<string>evaluate-track</string>
	<key>STORAGE_BUCKET</key>
	<string>evaluate-track.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799123089802:ios:daa13d6d4e058557ec4073</string>
</dict>
</plist>